.catalogue {
    display: flex;
    border: 2px solid black;
    min-height: 500px;
    margin-top: 10px;
}

.options {
    border: 2px solid black;
    border-radius: 20px;
    min-width: 150px;
    width: 0dp;
    height: 0dpx;
    margin: 20px;
    padding: 10px;
}

.list-item {
    display: flex;
    flex-wrap: wrap;
    align-content: start;
    padding: 10px;
}

.item {
    width: 0dpx;
    margin: 20px;
}
