.mainContainer{
    display: flex;

}

.conteneur{
    flex: 1;
}

.flexRow{
    display: flex;
    flex-direction: row;
}


#nbPiece{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: blue;
}

.conteneurFlex{
    display: flex;
}

