.mainContainer{
    display: flex;

}

.conteneur{
    flex: 1;
    border-style: solid;
    border-color: black;
}

#prix{
    display: flex;
    flex-direction: row;
    color: orange;
}

#quantiteStock{
    display: flex;
    flex-direction: row;
    color:red
}

#nbPiece{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: blue;
}


#controleQuantite{
    display: flex;
    flex-direction: row;
    justify-content: right;
    color: green;
}