* {
    color: #464646;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    background-color: #dce3ee;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    border: 2px solid #7e89b4;
    border-radius: 12px;
    margin-bottom: 15px;
}

.headerLeft {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.headerRight {
    display: flex;
    align-items: center;
    gap: 16px;
}

.headerButtons {
    text-decoration: none;
    font-size: 20px;
    background-color: #94A3D9;
    border: 1px solid #7e89b4;
    padding: 5px;
    color: #2c2c2c;
    border-radius: 8px;
}

main {
    border: 2px solid #7e89b4;
    border-radius: 12px;
    padding: 15px;
}

.pages {
    display: flex;
    flex-direction: row;
    margin-left: auto;
    justify-content: space-between;
    width: 30%;
    padding-right: 15px;
    gap: 10px;
}

.logo {
    width: 80px;
    margin-left: 0.3em;
    margin-right: 0.5em;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin-right: 0.5em;
    border: 2px solid #7e89b4;
}


.footer {
    border: 2px solid #7e89b4;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    width: 100%;
    margin-top: 15px;
    border-radius: 12px;
}

.titre {
    font-size: 35px;
    font-weight: 600;
}